{% macro showInput(field) %}
    <tr>
        <td>
        {{ field.label }}
        </td> 
        <td>
        {{ field(**kwargs) | safe }}
        {% for error in field.errors %}
            <small id="" class="form-text text-muted color-red">
                {{ error }}
            </small>
        {% endfor %}
        </td> 
    </tr>
{% endmacro %}

{% macro activeNavLink(link) %}
    <script>
        document.querySelectorAll(".active").forEach(item => {
            item.classList.remove("active")
        })
        document.querySelector("{{link}}").classList.add('active')
    </script>
{% endmacro %}