{% extends 'includes/base.html'%}
{% block title%} Login {% endblock %}
{% block content %}
    <form method="POST" action="#">
        <table>
            <tr>
               <td>
                 {{ form.uid.label }}
                
               </td> 
               <td>
                {{ form.uid(class="form-control") }}
                {% for error in form.uid.errors %}
                    <small id="" class="form-text text-muted">
                        {{ error }}
                    </small>
                {% endfor %}
                </td> 
            </tr>
            <tr>
               <td>
                 {{ form.pwd.label }}
               </td> 
               <td>
                {{ form.pwd() }}
                </td> 
            </tr>
             <tr>
               <td>
                 {{ form.pwd2.label }}
               </td> 
               <td>
                {{ form.pwd2() }}
                <ul>
                    {% for error in form.pwd.errors %}
                        <li>
                            {{error}}
                        </li>
                    {% endfor %}
                </ul>
                </td> 

            </tr>
            <tr>
               <td>
                <input class="btn btn-primary" type="submit" value="Login" />
                <input class="btn btn-primary" type="reset" value="Resets" />
               </td>
            </tr>
        </table>
    </form>
{% endblock %}