{% extends 'includes/base.html'%}
{% block title%} Login {% endblock %}
{% block content %}
{% from "includes/_formsHelper.html" import showInput%}
    <form method="POST" action="#">
        <table>
            {{ showInput(form.uid, class="form-control")}}
            {{ showInput(form.pwd, class="form-control")}}
            {{ showInput(form.pwd2, class="form-control")}}
            <tr>
               <td>
                <input class="btn btn-primary" type="submit" value="Login" />
                <input class="btn btn-primary" type="reset" value="Resets" />
               </td>
            </tr>
        </table>
    </form>
{% endblock %}